main {
  height: 100vh;
  display: grid;
  grid-template-rows: 69px 150px 1fr;
  justify-items: center;
}

main h1 {
  width: 100%;
  font-size: 2.1rem;
  box-sizing: border-box;
  text-align: left !important;
  padding-left: 12px;
  color: grey;
}

main #search {
  box-shadow: #4d4de8 0px 1px 4px;
  padding: 12px;
  border: 0px solid;
  border-radius: 1rem;
}

main #search #search-bar-container {
  height: fit-content;
  width: fit-content;
  border: 0px solid;
  border-radius: 2rem;
  box-shadow: #d6d8d9 3px 3px 6px 0px inset, #ede8ea -3px -3px 6px 1px inset;
  box-shadow: 0 0 2px 1px #90a3f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px 12px 3px 9px;
  margin: 30px 0px 21px 0px;
}

main #search #search-bar-container #search-bar {
  display: inline-block;
  height: 36px;
  width: 600px !important;
  background-color: #f6f4f6;
  font-size: larger;
  border: 0px solid;
}

main #search #search-bar-container span {
  display: inline-block;
  height: fit-content;
  width: fit-content;
}

main #search #adv-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

main #search #adv-search select {
  background-color: #4d4de8;
  color: white;
}

main #emp-list {
  width: 600px;
  overflow-y: scroll;
}

main #emp-list .emp {
  margin: 0;
  overflow-y: scroll;
  height: 60px;
  width: 100%;
  border: 0px solid;
  border-radius: 0.3rem;
  box-shadow: #4d4de8 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-decoration: none;
  margin-top: 12px;
}

main #emp-list .emp i {
  font-size: 1rem;
  display: inline-block;
  border: 0px solid;
  border-radius: 50%;
  padding: 15px;
  font-size: 1rem;
  color: #4d4de8;
}

main #emp-list .emp > div {
  height: fit-content;
  width: fit-content;
}

main #emp-list .emp > div .avatar {
  height: 45px;
  width: 45px;
  border: 0px solid;
  border-radius: 50%;
  display: inline-block;
}

main #emp-list .emp > div .emp_name {
  display: inline-block;
  font-size: 2.1rem;
}

main #emp-list .emp > div .Male {
  background-image: url("https://cdn0.iconfinder.com/data/icons/management-1/100/business-05-512.png");
  background-size: contain;
  background-position: center;
}

main #emp-list .emp > div .M {
  background-image: url("https://cdn0.iconfinder.com/data/icons/management-1/100/business-05-512.png");
  background-size: contain;
  background-position: center;
}

main #emp-list .emp > div .m {
  background-image: url("https://cdn0.iconfinder.com/data/icons/management-1/100/business-05-512.png");
  background-size: contain;
  background-position: center;
}

main #emp-list .emp > div .F {
  background-image: url("https://cdn3.iconfinder.com/data/icons/avatar-set/512/Avatar12-512.png");
  background-size: contain;
  background-position: center;
}
