body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 72px 1fr;
  overflow-y: hidden;
  background-color: #f1eff1;
  margin-left: 6px;
}

body #side-nav {
  box-shadow: #4d4de8 0px 3px 8px;
  border: 0px solid;
  border-radius: 1rem;
  font-size: 1.8rem;
  height: 100vh;
  width: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #959595;
}

body #side-nav nav {
  display: flex;
  height: 180px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

body #side-nav nav a {
  text-align: center;
  width: 100%;
  color: #959595;
  text-decoration: none;
}

body #side-nav nav a i {
  color: #b7b7b7;
}

body #side-nav nav a i:hover {
  color: #4d4de8 !important;
}

body #side-nav img {
  height: 51px;
  width: 100%;
}

body #side-nav a {
  color: #959595;
}

body #side-nav a:hover {
  color: #4d4de8;
}

.nav-highlight i {
  color: #4d4de8 !important;
}
