saved_models/DW-SeesawFaceNetv1_128bs/
saved_models/DW-SeesawFaceNetv1_128bs-20220730T045950Z-001.zip
saved_models/DW-SeesawFaceNetv2_128bs/
saved_models/DW-SeesawFaceNetv2_128bs-20220730T045605Z-001.zip
saved_models/MobileFaceNet_256bs/
saved_models/MobileFaceNet_256bs-20220730T045952Z-001.zip
saved_models/Seesaw-shareFaceNet_160bs/
saved_models/Seesaw-shareFaceNet_160bs-20220730T045955Z-001.zip
saved_models/Seesaw-shuffleFaceNet_160bs/
saved_models/Seesaw-shuffleFaceNet_160bs-20220730T045958Z-001.zip
saved_models/Seesaw-shuffleFaceNet_192bs/
saved_models/Seesaw-shuffleFaceNet_192bs-20220730T050000Z-001.zip