<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.totalrecon.ipravesh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/face_icon2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/face_icon2"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaceRecognition">

        <activity
            android:name="com.totalrecon.ipravesh.ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.totalrecon.ipravesh.geoActivity"
            android:exported="true"
            android:label="Geo Location" />
        <activity
            android:name="com.totalrecon.ipravesh.employee_dashboard"
            android:exported="true"
            android:label="Dashboard" />
        <activity
            android:name="com.totalrecon.ipravesh.cameraActivity"
            android:exported="true"
            android:label="Capture" />
        <activity
            android:name="com.totalrecon.ipravesh.register_new_employee_cred"
            android:exported="true"
            android:label="Register" />
        <activity
            android:name="com.totalrecon.ipravesh.uploadsigninActivity"
            android:exported="true"
            android:label="Upload to server" />
        <activity
            android:name="com.totalrecon.ipravesh.threeshot"
            android:exported="true"
            android:label="Photo Capture" />
        <activity
            android:name="com.totalrecon.ipravesh.register"
            android:exported="true"
            android:label="Registration" />
        <activity
            android:name="com.totalrecon.ipravesh.check_status"
            android:exported="true"
            android:label="CHECK STATUS" />
    </application>

</manifest>