

body{
    margin:0;
    width:100vw;
    height:100vh;
    display: grid;
    gap:21px;
    justify-items: center;
    overflow-y: scroll;
    h1{
        border: 2px solid;
        height:60px;
        width:100%;
        font-size: 3rem;
        box-sizing: border-box;
    }
    #davis{
        height: 300px;
        width: 81%;
        border:2px solid;
    }
    #emp-list{
        height:fit-content;
        width: 81%;
        display: grid;
        justify-items: center;
        gap: 6px;
        box-sizing: border-box;
        .emp{
            margin:0;
            overflow-y: scroll;
            height: 60px;
            border:2px solid;
            width: 100%;
            border: 2px solid;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color:black;
            text-decoration: none;
            i{
                font-size: 1rem;
                display: inline-block;
                border:0px solid;
                border-radius: 50%;
                padding:15px;
                font-size: 1rem;
                background-color: rgb(216, 214, 214);
            }
        }    
        .emp > div{
            height: fit-content;
            width: fit-content;
            .avatar{
               height: 45px;
               width:45px;
               border:0px solid;
               border-radius: 50%;
               display: inline-block;
               background-size: contain;
               background-position: center;
            }
            .emp_name{
                display: inline-block;
                font-size: 2.1rem;   
            }
            .Male{
                background-image: url('https://cdn0.iconfinder.com/data/icons/management-1/100/business-05-512.png');
            }
            .Female{
                background-image: url('https://cdn3.iconfinder.com/data/icons/avatar-set/512/Avatar08-512.png'); 
            }       
        }    
    }
}
