

body{
    margin:0;
    width:100vw;
    height:100vh;
    display: grid;
    gap:21px;
    justify-items: center;
    overflow-y: scroll;
    h1{
        border: 2px solid;
        height:60px;
        width:100%;
        font-size: 3rem;
        box-sizing: border-box;
    }
    #davis{
        height: 300px;
        width: 81%;
        border:2px solid;
    }
    #calender-container{
        background-color: aqua !important;
        height: 600px;
        width:81%;
        border:2px solid;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .calender-nav{
            height:fit-content;
            width: fit-content;
            font-size: 3rem;
        }
        #calender{
            height:fit-content;
            width: fit-content;
            display: grid; 
            gap: 6px;
            grid-template-columns: repeat(7,60px);
            .day{
                height: 30px;
                width: 60px;
            }
            .dates{
                height: 60px !important;
                width: 60px !important;
            }
        }
    }
}
