

main{
    display: grid;
    gap: 6px;
    grid-template-rows: 72px 45px 1fr;
    h1{
        padding-left:72px;
        color:grey;
    }
    #section-nav{
        height:100%;
        display: flex;
        justify-content: center;
        div{
            display: inline-block;
            font-size: 1.5rem;
            background-color: rgb(200, 199, 199);
            color:white;
        }
        #section1{
            border:0px solid;
            padding:6px;
            border-radius: 1rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding-right: 21px;
        }
        #section2{
            border:0px solid;
            padding:6px;
            border-radius: 1rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding-left: 21px;
        }
        #section3{
            border:0px solid;
            padding:6px;
        }
        div :hover{
            color:blue;
        }
    }
    #main-container{
        width:100%;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.active-nav{
    color:#4d4de8 !important;
}
