

body{
    margin:0;
    width:100vw;
    height:100vh;
    display: grid;
    gap:21px;
    justify-items: center;
    overflow-y: scroll;
    h1{
        border: 2px solid;
        height:60px;
        width:100%;
        font-size: 3rem;
        box-sizing: border-box;
    }
    #davis{
        height: 300px;
        width: 81%;
        border:2px solid;
    }
    #calender-container{
        height: 450px;
        width: 660px;
        border:2px solid;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .calender-nav{
            height:fit-content;
            width: fit-content;
            img{
                height: 64px;
                width: 64px;
            }
        }
        #right-cal-nav{
            img{
                transform: rotate(180deg);
            }
        }
        #calender{
            height:fit-content;
            width: fit-content;
            display: grid; 
            gap: 6px;
            grid-template-columns: repeat(7,60px);
            .day{
                height: 30px;
                width: 60px;
                border: 2px solid;
            }
            .dates{
                height: 60px !important;
                width: 60px !important;
            }
            .highlight{
                background-color: lightgrey;
            }
            .present{
                background-color: rgb(110, 236, 110);
            }
        }
    }
    form{
        border:2px solid;
        height: 90px;
        width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        input{
            pointer-events: none;
        }
        .edit{
            font-size: smaller;
            color:white;
            border: 0px solid;
            border-radius: 0.3rem;
            height:fit-content;
            width: fit-content;
            padding:1px 3px 1px 3px;
            background-color: grey;
        }
        .editable-input{
            pointer-events: inherit; 
        }
        #update-button{
            background-color: rgb(43, 35, 193);
            color:white;
            font-size: larger;
            padding:3px 6px 3px 6px;
            border:0px solid;
            border-radius: 0.5rem;
        }
    }
}
