

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=EB+Garamond&display=swap');
body{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height:100vh;
    margin: 0;
    width: 100vw;
    background-color: #f1eff1;
    background-size: cover;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/bg.jpg");
    h1{
        font-size:3rem;
        color:#4d4de8;
        font-weight: bolder;
        // text-shadow: 2px 0px 4px rgba(88, 86, 236, 0.8), 
	//   -2px 0px 4px rgba(81, 86, 232, 0.8), 
	//   0px 2px 4px rgba(88, 102, 235, 0.8);
        // font-style: 'Dancing Script', cursive;
        // font-family: 'Aboreto', cursive;
        font-family: 'EB Garamond', serif;
    }
    form{
        height: 450px;
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border:0px solid;
        border-radius: 1.2rem;
        box-shadow: rgba(134, 134, 243,0.3) 0px 7px 29px 0px;
        // button{
        //     background-color: #4d4de8;
        //     color:white;
        //     font-weight: 900;
        //     border:0px solid;
        //     border-radius: 1.2rem;
        // }
    }
    // form > *{
    //     width:210px;
    //     height:30px;
    // }
    img{
        width: 120px;
        height:90px;
    }
}
#login-form{
    .animate-label {
        position: relative;
        margin-top: 30px;
        label {
          position: absolute;
          bottom: 6px;
          left: 0;
          transition: .3s all ease;
          font-size: 1.5rem;
          width: 100%;
          color: #888888;
          font-family: 'EB Garamond', serif;
        }
        input{
            width:270px;
        }
        input:valid + label, input:focus + label {
          bottom: 30px;
          font-size: 1rem;
        }
        input:focus + label{
          color: #4d4de8;
        }
        line:before{
          content: '';
          position: absolute;
          background: #4d4de8;
          width: 0px;
          height: 2px;
          right: 50%;
          bottom: 0;
        }
        input:focus ~ line:before{
          width: 100%;
          right: 0;
          transition: all .3s ease;
        }
      }
      //general styling to match google design
      body{
        font-family: 'Helvetica', sans-serif;
        background: #f6f6f6;
      }
      .wrapper {
          width: 350px;
          height: 400px;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: rgba(360, 360, 360, .95); 
        padding: 50px;
      }
      img{
        width:80px;
      }
      h1{
        font-weight: normal;
        font-size: 24px;
        margin-bottom:0;
        line-height: 34px;
      }
      p{
        margin-top:0;
        margin-bottom:20px;
        font-size: 14px;
      }
      form{
        display:flex;
        flex-direction: column;
      }
      input{
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(198, 198, 198);
        padding-bottom: 6px;
        &:focus{
          outline: none;
        }
      }
      input#password{
        margin-top: 15px;
      }
      a{
        color:#4d4de8;
        text-decoration: none;
        margin-top: 30px;
        font-size: 14px;
      }
      .flex{
        display:flex; 
        justify-content: space-between;
        align-items: center;
      }
      button{
        display: block;
          border-radius: 5px;
          height: 40px;
          width: 270px;
          background-color: #4d4de8;
          border: none;
          color: #ffffff;
          text-align: center;
          font-size: 14px;
          box-shadow: 0 1p
          x 4px 0 rgba(0, 0, 0, 0.26);
          font-family: 'EB Garamond', serif;
          font-size: larger;
        margin-top: 30px;
      }
}
