

<link rel="stylesheet" href="/css/emp_overview.css">


<div id="main">
    <h1>Employee Overview</h1>
   <main></main>
</div>
<div class="vis" id="container1" style="width: 360px; height:360px;"></div>
<div class="vis" id="container3" style="width: 360px; height:360px;"></div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/js/emp_overview.js"></script>
<script src="js/arranging_emp_overviews.js"></script>
