

<style>
    body{
        display: grid;
        grid-template-columns: 60px 1fr 1fr 1fr;
    }
</style>
<div id="container1" style="width: 360px; height:360px;"></div>
<div id="container2" style="width: 360px; height:360px;"></div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/js/emp_overview.js"></script>

