

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i-Pravesh</title>
    <link rel="stylesheet" href="/css/home.css">
</head>






<body>
    <h1> Admin Dashboard - overview </h1>
    <div id = 'davis'>
        <svg id="gender">
        </svg>
    </div>
    <div id = 'emp-list'>
    </div>
    <div id="container1" style="width: 360px; height:360px;"></div>






    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src = '/js/home.js'></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        Highcharts.chart('container1', {
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: 'Gender Data'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      accessibility: {
        point: {
          valueSuffix: '%'
        }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
          }
        }
      },
      series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
          name: 'Male',
          y: 61.41,
          sliced: true,
          selected: true
        },{
          name:'Female',
          y:(100-61.41)
        }]
      }]
    });

    </script>
    <script src="/js/home_davis.js"></script>
</body>
</html>