

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/62ef345795.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/background.css">
    <title>i-Pravesh</title>
    <%- style %>
</head>
<body>
    <div id="side-nav">
        <img id='logo' src="/images/toppng.com-gail-india-vector-logo-400x400.png" alt="">
        
        <nav>
            <a href="/emp_list"><i class="fa-solid fa-user-tie" id="emp"></i></a>
            <a href="/emp_overview"><i class="fa-solid fa-chart-line" id="analytics"></i></a>
            <a href="/create_emp"><i class="fa-solid fa-user-plus" id="add-emp"></i></a>
        </nav>

        <a href="/" ><i class="fa-solid fa-right-from-bracket"></i></a>
   </div>
   <div id="particles-js">
    <!-- <div class="container">
      <div class="logo">
        <span class="ball"></span>
        <span class="ball"></span>
        <img src="http://image.prntscr.com/image/be089dbce63740a1994e64acc71b7c04.png" alt="">
      </div>
      <h2>MEMORAISE <br> <small>Raise Your Memories</small></h2>
    </div> -->
  </div>
   <%- body %>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js" integrity="sha512-jq8sZI0I9Og0nnZ+CfJRnUzNSDKxr/5Bvha5bn7AHzTnRyxUfpUArMzfH++mwE/hb2efOo1gCAgI+1RMzf8F7g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
   <script>
      particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 150,
      "density": {
        "enable": true,
        "value_area": 500
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 6,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});

   </script>
   <script src="/js/layout.js"></script>
   <%- script %>
</body>
</html>